<div class="row">
    <div class="col-md-6">
        <form role="form" class="form-inline" style="margin-bottom: 20px;">
            <div class="form-group">
                <input type="text" class="form-control" v-model.trim="detached.query.q" @keyup="detached.index()" placeholder="search">
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <div v-if="detached.query.q" class="clearfix">
            <div v-for="attachment in detached.items">
                <span class="pull-left">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <thumb :attachment="attachment"></thumb>
                        </div>
                        <div class="panel-footer clearfix">
                            <span class="pull-right"><button class="btn btn-xs btn-primary" @click="attach(attachment.id)"><i class="fa fa-link"></i></button></span>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin:20px 0; padding: 20px 0; border-top:2px solid #ccc;">
        <div v-if="table.items.length" class="clearfix">
            <div class="clearfix">
                <template v-for="attachment, index in table.items" class="clearfix">
                    <span class="pull-left">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <thumb :attachment="attachment"></thumb>
                            </div>
                            <div class="panel-footer clearfix">

                            </div>
                        </div>
                    </span>
                </template>
            </div>
            <pagination></pagination>
        </div>
        <div v-else>
            <p><strong>This item has no attachments</strong></p>
        </div>
    </div>
</div>