<div>
    <div class="file-group">
        <label for="file">
            <input type="file" name="file" id="file-uploader" accept="image/*" @click="onFileClick" @change="onFileChange" :multiple="multiple">
            <slot></slot>
        </label>
        <button class="btn btn-default hide" type="button" @click="uploadFiles">upload</button>
    </div>
    <div v-if="pending">
        <table class="table">
            <tr v-for="file, i in pending">
                <td>{{ file.name }}</td>
                <td>{{ file.progress }}</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" :aria-valuenow=progress[i] aria-valuemin="0" aria-valuemax="100" :style="'width: ' + progress[i] + '%;'">
                            {{ progress[i] }}%
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>