<ul class="nav nav-tabs">
    <li :class="{active: $router.currentRoute.name == 'albums.edit'}">
        <router-link :to="{ name: 'albums.edit', params: {id: $route.params.id}}">Main</router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'albums.attachments'}">
        <router-link :to="{ name: 'albums.attachments', params: {id: $route.params.id}}">Attachments</router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'albums.terms'}">
        <router-link :to="{ name: 'albums.terms', params: {id: $route.params.id}}">Terms</router-link>
    </li>
</ul>