<div class="row">
    <div class="col-md-12">
        <div v-if="table.items.length">
            <div v-for="attachment, index in table.items">
                <div @dragover.prevent @drop="drop">
                    <img class="img-thumbnail pull-left" :src="attachment.src" :data-index=index style="max-height: 100px" draggable="true" @drag="drag"/>
                </div>
            </div>
        </div>
        <div v-else>
            <p><strong>This item has no attachments</strong></p>
        </div>
    </div>
</div>